name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - name: Setup Node.js
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6
        with:
          node-version: "22.11.0"
          cache: "pnpm"
      - name: Setup pnpm
        uses: pnpm/action-setup@0c17529a66aca453f9227af23103ed11469b1e47
        with:
          version: "9.15.1"
          run_install: false
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Install xvfb
        run: sudo apt-get update && sudo apt-get install -y xvfb
      - name: Run tests
        run: xvfb-run -a pnpm test
